#Fri, 17 May 2013 22:32:00 -0500
# The name of the application
app.name=CarTracker

# The name of the framework used by the application (ext / touch)
app.framework=ext

# The path(s) to application javascript sources (comma separated)
app.classpath=${app.dir}/app

# Output location for application build artifacts
app.build.dir=${workspace.build.dir}/${app.name}

# The root namespace to use when mapping scss resources to js classes
# in the sass/src and sass/var directories
app.sass.namespace=CarTracker

# Path to sass rule definition files corresponding to JavaScript classes.
app.sass.srcpath=${app.dir}/sass/src

# Path to sass variable definition files corresponding to JavaScript classes.
app.sass.varpath=${app.dir}/sass/var

# Path to sass function and mixin files.
app.sass.etcpath=${app.dir}/sass/etc/all.scss

# Path to extra ruby files to include into the generated sass config.rb,
# <approot>/sass/config.rb will be included automatically if present and does
# not need to be specified.
# app.sass.rubypath=

# The name of the package containing the theme scss for the app
app.theme=ext-theme-neptune

#==============================================================================
# Custom Properties - Place customizations below this line to avoid merge
# conflicts with newer versions

app.cmd.version=3.1.1.274
app.id=137c4f6c-319c-4d64-b5c8-25bea45e6445
