.header h1 {font-weight: bold;font-size: 1.5em;display: inline-block;margin:0 0 0 5px;line-height:.3em;}
.header img {height:40px;vertical-align:middle;display: inline-block;}
.x-mask {z-index:20000}

.x-form-multiselect-body .x-boundlist .x-mask {background: none;}
.x-form-itemselector-body .x-form-item {margin: 0;}
.x-form-itemselector-top {background-image: url(../images/icon/top2.gif);}
.x-form-itemselector-up {background-image: url(../images/icon/up2.gif);}
.x-form-itemselector-add {background-image: url(../images/icon/right2.gif);}
.x-form-itemselector-remove {background-image: url(../images/icon/left2.gif);}
.x-form-itemselector-down {background-image: url(../images/icon/down2.gif);}
.x-form-itemselector-bottom {background-image: url(../images/icon/bottom2.gif);}


.icon_user {background: url( '../images/icon/user.png' ) !important;}
.icon_gear {background: url( '../images/icon/engine.png' ) !important;}
.icon_tag {background: url( '../images/icon/tag.png' ) !important;}
.icon_add {background: url( '../images/icon/plus.png' ) !important;}
.icon_edit {background: url( '../images/icon/pencil.png' ) !important;}
.icon_save {background: url( '../images/icon/save.png' ) !important;}
.icon_delete {background: url( '../images/icon/error.png' ) !important;}
.icon_category {background: url( '../images/icon/list.png' ) !important;}
.icon_color {background: url( '../images/icon/color.png' ) !important;}
.icon_make {background: url( '../images/icon/make.png' ) !important;}
.icon_model {background: url( '../images/icon/model.png' ) !important;}
.icon_feature {background: url( '../images/icon/feature.png' ) !important;}
.icon_position {background: url( '../images/icon/contact.png' ) !important;}
.icon_status {background: url( '../images/icon/status.png' ) !important;}
.icon_search {background: url( '../images/icon/search.png' ) !important;}

